@font-face {
    font-family: 'Fantome-Regular';
    src: url('fonts/Fantome-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Fantome-Regular', Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: red;
    position: absolute;
    top: 30%;
    font-size: 100px;
    z-index: 1000;
    text-align: center;
}


.random-image {
    z-index: -1000;
    transition: transform 0.4s ease; /* Example: smooth hover effect */
}

.random-image:hover {

    transform: scale(1.4);
}